@media screen and (max-width: 1000px) {
    html{
        background-color: yellow;
    }
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .books{
        margin: auto;
    }
    #projects{
        justify-content: center;
    }
}