@media screen and (max-width: 1000px) {
    html{
        background: #430A5D;
    }
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .books{
        margin: auto;
    }
    #projects{
        justify-content: center;
    }
    .projects-intro{
        margin: auto;
    }
    .skill-intro{
        margin: auto;
    }
    .image{
        display: none;
    }
    .intro-div{
        font-size: 1rem;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 4rem;
        margin-top: 5rem;
        gap: 1em;
    }
}